
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}



/* Barra de navegacion */

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darkblue;
  padding: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header.navbar > .nav-logo {
  font-family: 'Cherry Bomb One', system-ui, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: snow;

}

header.navbar > .nav-links {
  display: flex;
}

header.navbar > .nav-links a {
  color: snow;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;

  &:hover {
    color: black;
    background-color: rgb(230, 211, 211);
  }
}

header.navbar > .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;

  &:hover + .dropdown {
    height: 180px;
  }
}

header.navbar > .dropdown {
  height: 0px;
  position: absolute;
  overflow: hidden;
  top: 5rem;
  left: 0;
  background-color: slateblue;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

header.navbar > .hamburger > .line {
  width: 25px;
  height: 3px;
  background: white;
}


header.navbar > .dropdown > a {
  display: block;
  padding: 1rem 2rem;
  color: snow;
  text-decoration: none;

  &:hover {
    background-color: darkslateblue;
  }
}





/* Seccion Principal */

.hero {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, darkblue 0%, lightblue 100%);
  justify-content: space-evenly;
  padding-top: 2rem;
}

.hero-text {
  margin-top: 6rem;
  width: 30rem;
}

.hero-title {
  font-family: 'Cherry Bomb One', system-ui, sans-serif;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  white-space: pre-line;
  line-height: 1;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  color: beige;
  
}

.hero-subtext {
  font-size: 1.4rem;
  color: beige;
  margin-left: 1rem;
}

.hero-video {
  margin-top: 6rem;
  margin-right: 1rem;
}

.hero iframe {
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  width: 640px;
  height: 480px;
}




/* Seccion Productos */

.products-section {
  background: linear-gradient(to top, darkorange 20%, darkred 100%);;
  color: snow;
}

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.products-title {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 3rem;
} 

.products .product {
  background: darkred;
  border-radius: 10px;
  width: 20rem;
  height: auto;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.products .product img {
  width: 20rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0;
  
}


.products .product figcaption {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: snow;

}




/* Formulario de Contacto */

.contact {
  background: indigo;
  color: snow;
  text-align: center;
  padding: 2rem 2rem 10rem 2rem;
}


.contact-title {
  margin: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

.contact form {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.contact input, .contact textarea {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
}

.contact textarea {
  height: 10rem;
}

.contact button {
  padding: 10px;
  border: none;
  background-color: rgb(52, 168, 94);
  color: snow;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 2rem;

  &:hover {
    background-color: rgb(42, 152, 80);
  }
}


.contact .message {
  font-size: 1.5rem;
  padding-bottom: 12rem;
}

.contact label {
  text-align: left;
  margin-top: 1rem;
  font-size: 1.3rem;
}


/* Footer */
footer {
  text-align: center;
  padding: 6rem 2rem;
  background-color: darkred;
  color: white;
  font-size: 1.4rem;
}




/* Tablet */

@media screen and (max-width: 768px) and (min-width: 425px) {
  header.navbar .nav-links {
    display: none;
  }

  header.navbar .hamburger {
    display: flex;
  }

  header.navbar .dropdown.active {
    display: block;
  }

  .hero iframe {
    width: 400px;
    height: 380px;
  }

  .hero-video {
    margin: 1rem auto;
  }
  
  .hero-text {
    margin: 2rem auto;
    padding: 2rem;
  }

  .hero-title {
    font-size: 3rem;
  }
}



/* Celular */

@media screen and (max-width: 425px) {
  header.navbar .nav-links {
    display: none;
  }

  header.navbar .hamburger {
    display: flex;
  }

  header.navbar .dropdown.active {
    display: block;
  }

  .hero iframe {
    width: 300px;
    height: 280px;
  }

  .hero-text {
    margin: 2rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-video {
    margin: 1rem auto;
  }
  
  .hero-text {
    margin: 1rem auto;
  }
}



/* Animacion de texto */

.glow {
	color: #f5f5f5;
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from{
		text-shadow: 0 0 10px #f5f5f5,
		             0 0 20px #f5f5f5,
								 0 0 30px #e60073,
								 0 0 40px #e60073,
								 0 0 50px #e60073,
								 0 0 60px #e60073,
								 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #f5f5f5,
		             0 0 30px #ff4da6,
								 0 0 40px #ff4da6,
								 0 0 50px #ff4da6,
								 0 0 60px #ff4da6,
								 0 0 70px #ff4da6,
								 0 0 80px #ff4da6;
	}
}