
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



body {
  font-family: "Delius Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}





/* Barra de navegacion */

header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ae222e;
  padding: 1.4rem;
  position: sticky;
  top: 0;
}

header.navbar .nav-logo {
  font-family: 'Cherry Bomb One', system-ui, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(239, 238, 244);

}

header.navbar .nav-links {
  display: flex;
}

header.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}



header.navbar .nav-links a:hover {
  color: black;
  background-color: rgb(230, 211, 211);
}

header.navbar .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

header.navbar .hamburger .line {
  width: 25px;
  height: 3px;
  background: white;
}

header.navbar .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 20px;
  background: #ff9aa2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header.navbar .dropdown a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}



/* Seccion Principal */

.hero {
  display: flex;
  flex-wrap: wrap;
  background: #ffdac1;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.hero-text {
  margin: 10rem auto;
  width: 30rem;
}

.hero-title {
  font-family: 'Cherry Bomb One', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  white-space: pre-line;
  line-height: 1;
  margin-bottom: 2rem;
  color: rgb(160, 32, 32);
  
}

.hero-subtext {
  font-size: 1.4rem;
}

.hero-video {
  margin: 6rem auto;
}

.hero iframe {
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  width: 640px;
  height: 480px;
}




/* Seccion Productos */

.products-section {
  background-color: indigo;
  color: snow;

  padding-bottom: 6rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: center;
  margin: 1rem auto;
}

.products-title {
  text-align: center;
  margin: auto;
  padding-top: 5rem;

  font-size: 2rem;
} 

.products .product {
  background: rgb(190, 70, 70);
  border-radius: 10px;
  width: 20rem;
  height: auto;
  box-shadow: 2px 10px 10px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 2rem;
}

.products .product img {
  width: 20rem;
  height: 24rem;
  object-fit: cover;
  border-radius: 10px 10px 0px 0;
  
}

.products .product figcaption {
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 1.5rem;
  color: snow;
}




/* Formulario de Contacto */

.contact {
  padding: 6rem 2rem 10rem 2rem;
  background: #c7ceea;
  text-align: center;
}

.contact-title {
  margin: 2rem;

  font-size: 2rem;
  font-weight: bold;
}

.contact form {
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}

.contact input, .contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact textarea {
  height: 10rem;
}

.contact button {
  padding: 10px;
  border: none;
  background-color: #ae4d55;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.5rem;
}

.contact button:hover {
  background-color: #9b3941;
}

.contact .message {
  font-size: 1.5rem;
  padding-bottom: 12rem;
}


/* Footer */
footer {
  text-align: center;
  padding: 6rem 2rem;
  background: #9b3941;
  color: white;
  font-size: 1.4rem;
}




/* Tablet */

@media screen and (max-width: 768px) and (min-width: 425px) {
  header.navbar .nav-links {
    display: none;
  }

  header.navbar .hamburger {
    display: flex;
  }

  header.navbar .dropdown.active {
    display: block;
  }

  .hero iframe {
    width: 400px;
    height: 380px;
  }

  .hero-video {
    margin: 1rem auto;
  }
  
  .hero-text {
    margin: 2rem auto;
    padding: 2rem;
  }

  .hero-title {
    font-size: 3rem;
  }
}



/* Celular */

@media screen and (max-width: 425px) {
  header.navbar .nav-links {
    display: none;
  }

  header.navbar .hamburger {
    display: flex;
  }

  header.navbar .dropdown.active {
    display: block;
  }

  .hero iframe {
    width: 300px;
    height: 280px;
  }

  .hero-text {
    margin: 2rem;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-video {
    margin: 1rem auto;
  }
  
  .hero-text {
    margin: 1rem auto;
  }
}